Package                  Version
------------------------ ------------
beautifulsoup4           4.10.0
cachetools               4.2.4
certifi                  2020.6.20
cffi                     1.11.5
chardet                  4.0.0
cycler                   0.10.0
decorator                4.4.2
dlib                     19.4.0
docopt                   0.6.2
filelock                 3.2.1
future                   0.18.2
gdown                    4.4.0
google                   3.0.0
google-api-core          1.23.0
google-api-python-client 1.12.11
google-auth              1.23.0
google-auth-httplib2     0.1.0
googleapis-common-protos 1.52.0
httplib2                 0.20.4
idna                     2.10
imageio                  2.9.0
joblib                   0.14.1
jsonpatch                1.32
jsonpointer              2.1
kiwisolver               1.0.1
matplotlib               3.0.0
networkx                 2.4
numpy                    1.18.5
olefile                  0.46
opencv-python            4.4.0.42
Pillow                   5.2.0
pip                      20.3.4
pipreqs                  0.4.11
protobuf                 3.19.4
pyasn1                   0.4.8
pyasn1-modules           0.2.8
pycparser                2.20
pydub                    0.25.1
pyparsing                2.4.7
PySocks                  1.7.1
python-dateutil          2.8.1
python-speech-features   0.6
pytorch-ignite           0.2.0
pytz                     2020.1
PyWavelets               1.1.1
PyYAML                   5.3.1
pyzmq                    20.0.0
requests                 2.25.1
rsa                      4.7.2
scikit-image             0.15.0
scikit-learn             0.22.2.post1
scipy                    1.4.1
setuptools               50.3.2
six                      1.15.0
sklearn                  0.0
soupsieve                2.1
torch                    1.0.1
torchcontrib             0.0.2
torchfile                0.1.0
torchvision              0.2.2
tornado                  5.1.1
tqdm                     4.59.0
typing-extensions        3.10.0.2
uritemplate              3.0.1
urllib3                  1.26.7
visdom                   0.1.8.9
websocket-client         0.59.0
wheel                    0.35.1
wincertstore             0.2
yacs                     0.1.8
yarg                     0.1.9
